<div class="container">
    <form #registerForm="ngForm" (ngSubmit)="uploadVideo()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="thumbnailUrl">Thumbnail url</label>
            <input type="text" class="form-control" id="t" placeholder="Enter the thumbnail url">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="video">Select video</label>
            <input type="file" class="form-control-file" id="video" name="video" (change)="selectVideo($event)"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

