.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    width: 153px;
    height: 86px;
}

hr {
    margin: 0px;
    padding: 0px;
}

.views {
    font-size: 14px;
}

.card-title {
    color: gray;
}